# Core dependencies
pandas==2.2.2
numpy==1.26.4
scikit-learn==1.5.0
torch==2.3.1
ta==0.11.0
optuna==3.6.1
cryptography==42.0.8
PySide6==6.7.0
aiohttp==3.9.5
pyarrow
xgboost
lightgbm
onnx
onnxruntime
seaborn
matplotlib